.person-container{
  width:50%;
  margin: 20px auto;
}
.person-item{
  padding: 10px;
  backgorund-color:#fff;
  border-bottom:1px solid #ccc;
  cursor: pointer;
}
.person-item .collapse-container{
  display: inline-block;
  width: 95%;
}
.person-item .delete-container{
  display: inline-block;
  width: 5%;
}
.person-item .delete-container a{
  color:#333;
  margin-left: 10px;
}
.person-item .person-sub-container{
  margin: 5px 30px;
  display: none;
}
